#[test]
fn good_{name}() {{
    let input_str = include_str!("{path}");
    let input = Input::new(input_str.to_string(), "{path}".to_string());
    let name = "{name}";
    good_test!(input, name);
}}
